<div>
  <h3>Processes</h3>
  <div style="width: 250px; display:inline-block;"> 
    <span style="display: inline; float:left;"> 
      <wf-button :title="Increment" :primary="true" @click="incCounter" title="Increment count"></wf-button> 
    </span>  
    <span style="display: inline; float:left;"> 
      <wf-button :title="Decrement" :secondary="true" @click="decCounter" title="Decrement count"></wf-button> 
    </span>  
  </div>

  <div style="padding-top: 10px;">
      <div>
        State management count: <span style="padding-left: 5px;"> <strong>{{ count }}</strong></span>
      </div>
  </div>

</div>
