<div id="custom">
  <h3>Work with an iterable items from array</h3>

  <div style="width: 170px; display:inline-block;"> 
    <span style="display: inline; float:left;"> 
      <wf-button :title="Insert" :primary="true" @click="incCounter" title="Insertion 1000 items inside the table"></wf-button>
    </span>  
    <span style="display: inline; float:right;"> 
      <wf-button :title="Delete" :secondary="true" @click="decCounter" title="Delete 1000 items from the table"></wf-button>
    </span>  
  </div>


  <div :for="item in items">
    <div>
      {{ item.id }}. {{item.title}} {{ item.child.id}}, count: {{ count }}
    </div>
  </div>

  <br><br>

  <h3>Work with an iterable objects</h3>

  <div :for="i in item">
    <div>
      {{ i }}
    </div>
  </div>

</div>
