@use '../colors';

.dropdown {
  position: relative;
  user-select: none;
  // width: 100%;

  &-select {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid var(--selected);
    background-color: var(--background-input);
  }

  &-select:hover {
    background-color: var(--hover);
    @include regular-shadow;
  }

  &-select.open &-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    @include regular-shadow;
  }

  &-select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 34px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 4px;
    @include small-shadow;
  }

  &-arrow::after {
    font-family: "Icons";
    content: "\E919";
    display: inline-block;
    position: relative;
    top: 1px;
    pointer-events: none;
    transition: 0.2s;
  }

  .open &-arrow::after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    transition: 0.2s;
  }
  
  &-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--selected);
    border-radius: 3px;
    border-top: 0;
    background-color: var(--background-input);
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }
  
  &-option {
    position: relative;
    display: block;
    padding: 0 10px 0 10px;
    line-height: 34px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  &-option:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
  
  &-option.selected {
    color: var(--primary);
    background-color: var(--background-sidebar-active);
  }

  &-disabled {
    color: var(--disabled-light);
  } 

}

