@use '../colors';

.separator {

  &-vertical {
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    vertical-align: bottom;
    border-left: 1px solid var(--separator-color);
  }
  
  &-horizontal {
    width: 40px;
    border-bottom: 1px solid var(--separator-color);
  }
  
}