:root {  
  --primary: #fdfdfd;
  --background-body: #d5dae5;
  --hint: #606060;
  --separator-color: #aac1c7;
  --selected: #0399f7;
  --link: #3b5aaf;
  --red: #DC1A2C;
  --color: #0a4788;
  --background-input: #f2f6fc;
  --background-logo: #233245;
  --background-sidebar: #35475e;
  --background-sidebar-active: #415775;
  --background-title: #eef1f7;
  --background-description: #e4eaf6;
  --background-disabled: #838690;
  --border-bottom: #3c506a;
  --border-color: #2d3d51;
  --background-button-primary: #415775;
  --background-button-hover: #35475e;
}

.theme-dark {
  --primary: #fdfdfd;
  --background-body: #d5dae5;
  --hint: #606060;
  --separator-color: #aac1c7;
  --selected: #0399f7;
  --red: #DC1A2C;
  --color: #083360;
  --background-input: #f2f6fc;
  --background-logo: #233245;
  --background-sidebar: #35475e;
  --background-sidebar-active: #415775;
  --background-title: #eef1f7;
  --background-description: #e4eaf6;
  --background-disabled: #838690;
  --border-bottom: #3c506a;
  --border-color: #2d3d51;
  --background-button-primary: #415775;
  --background-button-hover: #35475e;
}
