@use 'colors';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 8px;
  background-color: var(--background-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 700px;
}

.wrapper {
  font-weight: normal;
  font-size: 1.2rem;
  color: var(--color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 44px;
  background-color: white;
  border-bottom: 3px solid var(--border-color);
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
  height: 44px;
  padding: 3px 3px;
  font-weight: 700;
}

.side-nav {
  .logo {
    background-color: var(--background-logo);
    // color: #fff;

    .title {
      position: fixed;
      top: 7px;
      left: 45px;
      font-size: 22px;
    }
  }
}

.header .logo {
  float: left;
}

.header .logo {
  height: 44px;
  z-index: 1;
  font-weight: 700;
  // color:
}

.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block;
}

.nav-trigger span,
.nav-trigger span:before,
span:after {
  width: 20px;
  height: 2px;
  background-color: var(--background-sidebar);
  position: absolute;
}
.nav-trigger span {
  top: 50%;
}
.nav-trigger span:before,
.nav-trigger span:after {
  content: "";
}
.nav-trigger span:before {
  top: -6px;
}
.nav-trigger span:after {
  top: 6px;
}

/* side navigation styles */
.side-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--background-sidebar);
  z-index: 1;
  display: none;
}
.side-nav.visible {
  display: block;
}
.side-nav ul {
  margin: 0;
  padding: 0;
}
.side-nav ul li {
  padding: 10px 10px;
  border-bottom: 1px solid var(--border-bottom);
  position: relative;
}
.side-nav ul li:hover {
  background-color: var(--background-sidebar-active);
}
.side-nav ul li.active {
  background-color: var(--background-sidebar-active);
}
.side-nav ul li.active:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.side-nav ul li a {
  // color: #fff;
  display: block;
  text-decoration: none;
}
.side-nav ul li i {
  // color: #0497df;
  min-width: 20px;
  text-align: center;
}
.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  // font-size: 14px;
  font-weight: 600;
}
/* main content styles */
.main-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 100%;
  overflow: scroll;
}
.main-content .title {
  background-color: var(--background-title);
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: var(--color);
  font-size: 18px;
}

/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
  .header {
    background-color: var(--background-sidebar);
    z-index: 1;
  }
  .header .logo {
    display: none;
  }
  .nav-trigger {
    display: none;
  }
  .nav-trigger span,
  .nav-trigger span:before,
  span:after {
    background-color: #fff;
  }
  .side-nav {
    display: block;
    width: 70px;
    z-index: 2;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav .logo span {
    padding-left: 12px;
  }
  .side-nav .logo span {
    display: none;
  }
  .side-nav ul li span {
    padding-left: 16px;
    font-size: 26px;
  }
  .side-nav ul li a {
    text-align: center;
  }
  .main-content {
    margin-left: 70px;
  }
}

/* set element styles for desktop */
@media screen and (min-width: 800px) {
  .side-nav {
    width: 200px;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline-block;
  }
  .side-nav ul li span {
    font-size: 16px;
  }
  .side-nav ul li a {
    text-align: left;
  }
  .side-nav .logo span {
    padding-left: 0;
  }
  .side-nav .logo span {
    display: inline-block;
  }
  .main-content {
    margin-left: 200px;
  }
}

/* main box container */
.main {
  // display: flex;
  flex-flow: row wrap;
}

.widget {
  flex-basis: 300px;
  flex-grow: 10;
  // height: 90%;
  margin: 20px 1px 20px 1px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
.widget .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #dfe4ec;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #617085;
  font-weight: 600;
}

.widget .chart {
  padding: 0px 20px 20px 20px;
}
